<%- include('../partials/header') %>

        

        <div class="container-fluid p-4">
                
                <h1><%= skill.name %></h1>
                <p>Status: <%= skill.status %></p>
                <p>Level: <%= skill.level %></p>
                <p>Comment: <%= skill.description %></p>
                <div class="d-flex flex-row">
                        <a href="/skills" class="btn btn-primary btn-sm m-2">Back</a>
                        <a href="/skills/<%= skill.id %>/edit" class="btn btn-primary btn-sm m-2">Edit</a>
                        <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-sm m-2">Delete</button>
                        </form>
                </div>
        </div>
        

<%- include('../partials/footer') %>
